<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-fab vertical="center" horizontal="start" slot="fixed">
        <ion-fab-button>
          <ion-icon name="alert"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="center" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="help"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
